<div class='Profile'>

	<div class="Profile_Name">
		<p><< SESSION_NAME >></p>
		<p>My Posts : <span id="Posts_Number"><< SESSION_POSTS_NUMBER >></span></p>
	</div>

	<div class='Profile_Item'><a href="<< Messages_Inbox >>">My Messages</a></div>

	<div class='Profile_Item'><a href="<< MyProfile >>">My Profile</a></div>

	<< Load : Header/Header >>

	<< Filter : IsAdmin : UserStatus >>
	
	<div class='Profile_Item'><a href="<< Settings >>">Settings</a></div>
	
	<div class='Profile_Item'><a href="<< LogOut >>">Log Out</a></div>

</div>