<IfModule mod_rewrite.c>
	
	Options +FollowSymLinks -MultiViews -Indexes

	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ Engine.php [L]

	RewriteCond %{HTTP_HOST} ^lookandsee.com$ 
	RewriteRule ^(/)?$ Engine.php [L]
	
</IfModule>