section, .info, .Posts div{
	text-align: left;
}
.Posts div p, .info, .Posts, .Posts div a{
	display: inline-block;
}
span{
    color: #454545;
}
.Posts div{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}
.info{
	top: 80px;
	font-size: 15px;
	margin-left: 0px;
	padding-left: 0px;
	vertical-align: top;
	position: fixed;
}
.info input{
	width: 100px;
	height: 100px;
}
.Posts{
	padding-left: 30%;
    width: 59%;
    margin-top: 100px;
}
.Posts div{
	border-color: #454545;
}
.Posts div input{
	width: 40px;
	margin-right: 50px;
}
.Posts p{
	text-align: center;
}
.Number{
	color: black;
}