section, .info, .Posts div{
	text-align: left;
}
.info, .Posts div a{
	display: inline-block;
}
span{
    color: #454545;
}
.info{
	top: 80px;
	font-size: 15px;
	margin-left: 0px;
	padding-left: 0px;
	vertical-align: top;
}
.info input{
	width: 100px;
	height: 100px;
}
.Posts{
	padding-left: 30%;
    width: 59%;
}
.Posts div input{
	width: 40px;
	margin-right: 50px;
}
.Number{
	color: black;
}