<!DOCTYPE>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title><< Head_Title >></title>

    <!-- Favicon -->
    <link rel="icon" href="<< Head_LOGO >>">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="<< Head_Style >>">

</head>

<body>

    <!-- Preloader -->
    <!--<div id="preloader">
        <div class="loader"></div>
    </div>-->

    <!-- **** Header Area Start **** -->
    << include : Header/SiteHeaders/Main_Header.html >>
    <!-- **** Header Area End **** -->

    <!-- **** Welcome Maps Area Start **** -->
    <div class="rehomes-search-form-area wow fadeInUp" data-wow-delay="200ms">
        <div class="container">
            <div class="rehomes-search-form">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-10">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <input name="Key" id="key" class="form-control" placeholder="نوع العربيه">
                                       
                                    </input>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <input text="rtl" name="Key" id="key" class="form-control" placeholder="الموديل">
                                       
                                    </input>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <input name="Key" id="key" class="form-control" placeholder="السنه">
                                       
                                    </input>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <select name="types" id="types" class="form-control">
                                        <option value="all-types">الحاله</option>
                                        <option value="01">جديد</option>
                                        <option value="02">مستعمل</option>
                                        
                                       
                                    </select>
                                </div>
                                
                                <div class="col-12 col-md-6 col-lg-3">
                                    <input name="Key" id="key" class="form-control" placeholder="المحرك">
                                       
                                    </input>
                                </div>
                                
                                
                                <div class="col-12 col-md-6 col-lg-3">
                                    <input name="Key" id="key" class="form-control" placeholder="كيلو مترات">
                                       
                                    </input>
                                </div>
                                
                                
                                <div class="col-12 col-md-6 col-lg-3">
                                    <input name="Key" id="key" class="form-control" placeholder="السعر">
                                       
                                    </input>
                                </div>
                                
                        
                                <div  class="col-12 col-md-6 col-lg-3" >
                                    <select name="types" id="types" class="form-control">
                                        <option value="all-types">ناقل الحركه</option>
                                        <option value="01">يدوى</option>
                                        <option value="02">اوتوماتيك</option>
                                        <option value="03">ستيبترونيك</option>
                                       
                                    </select>
                                </div>
                                </div>
                            </div>
                        <div class="col-12 col-lg-2">
                            <button type="submit" class="btn rehomes-search-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div   class="welcome-area wow fadeInUp" data-wow-delay="200ms">
        <div class="google-maps">
            <iframe src="https://maps.google.com/maps?q=%D9%85%D8%B5%D8%B1%20%D8%A7%D8%B3%D9%8A%D9%88%D8%B7%20%D8%A7%D8%A8%D8%B1%D8%A7%D8%AC%20%D8%A7%D9%84%D9%86%D8%B5%D8%B1%20&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen ></iframe>
        </div>
    </div>
    <!-- **** Welcome Maps Area End **** -->

    <!-- **** Location Search Form Area **** -->
    
    <!-- **** Location Search Form Area **** -->

    <!-- **** Sale area Start **** -->
    <section class="rehome-house-sale-area section-padding-100-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                        <h2>Top News In <span>Assuit</span></h2>
                        <p>These are the best deals and deals. All in Assuit City and nearby area</p>
                    </div>
                </div>

                <!-- Single Property Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <img src="img/bg-img/1.jpg" alt="">
                        </div>

                        <!-- Property Description -->
                        <div  class="property-desc-area">
                            <!-- Property Title & Seller -->
                            <div  align="right" class="property-title-seller d-flex justify-content-between">
                                <!-- Title -->
                                
                                <!-- Seller -->
                                <div class="property-seller">
                                    <p>:المالك</p>
                                    <h6>م\محمد يوسف</h6>
                                </div>
                                <div class="property-title">
                                    <h4>للبيع شقه في ابراج النصر </h4>
                                    <p> اسيوط ,شارع الابراهيميه <i class="fa fa-map-marker" aria-hidden="true"></i></p>
                                </div>
                            </div>
                            <!-- Property Info -->
                            <div class="property-info-area d-flex flex-wrap">
                                 <p>التشطيب :<span>سوبر لوكس</span></p>
                                <p>المساحه :<span>110 متر</span></p>
                                <p>ع مشاهدات :<span>110 </span></p>
                               <p>ت الاعلان :<span>2\2\2019 </span></p>
                            </div>
                        </div>

                        <!-- Property Price -->
                        <div class="property-price">
                          
                            <p class="price">1.999 شهريا</p>
                              <p class="badge-rent">للايجار</p>
                        </div>
                    </div>
                </div>

                <!-- Single Property Area -->
               <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <img src="img/bg-img/1.jpg" alt="">
                        </div>

                        <!-- Property Description -->
                        <div  class="property-desc-area">
                            <!-- Property Title & Seller -->
                            <div  align="right" class="property-title-seller d-flex justify-content-between">
                                <!-- Title -->
                                
                                <!-- Seller -->
                                <div class="property-seller">
                                    <p>:المالك</p>
                                    <h6>م\محمد يوسف</h6>
                                </div>
                                <div class="property-title">
                                    <h4>للبيع شقه في ابراج النصر </h4>
                                    <p> اسيوط ,شارع الابراهيميه <i class="fa fa-map-marker" aria-hidden="true"></i></p>
                                </div>
                            </div>
                            <!-- Property Info -->
                            <div class="property-info-area d-flex flex-wrap">
                                 <p>التشطيب :<span>سوبر لوكس</span></p>
                                <p>المساحه :<span>110 متر</span></p>
                                <p>ع مشاهدات :<span>110 </span></p>
                               <p>ت الاعلان :<span>2\2\2019 </span></p>
                            </div>
                        </div>

                        <!-- Property Price -->
                        <div class="property-price">
                          
                            <p class="price">1.999 شهريا</p>
                              <p class="badge-rent">للايجار</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <img src="img/bg-img/1.jpg" alt="">
                        </div>

                        <!-- Property Description -->
                        <div  class="property-desc-area">
                            <!-- Property Title & Seller -->
                            <div  align="right" class="property-title-seller d-flex justify-content-between">
                                <!-- Title -->
                                
                                <!-- Seller -->
                                <div class="property-seller">
                                    <p>:المالك</p>
                                    <h6>م\محمد يوسف</h6>
                                </div>
                                <div class="property-title">
                                    <h4>للبيع شقه في ابراج النصر </h4>
                                    <p> اسيوط ,شارع الابراهيميه <i class="fa fa-map-marker" aria-hidden="true"></i></p>
                                </div>
                            </div>
                            <!-- Property Info -->
                            <div class="property-info-area d-flex flex-wrap">
                                 <p>التشطيب :<span>سوبر لوكس</span></p>
                                <p>المساحه :<span>110 متر</span></p>
                                <p>ع مشاهدات :<span>110 </span></p>
                               <p>ت الاعلان :<span>2\2\2019 </span></p>
                            </div>
                        </div>

                        <!-- Property Price -->
                        <div class="property-price">
                          
                            <p class="price">1.999 شهريا</p>
                              <p class="badge-rent">للايجار</p>
                        </div>
                    </div>
                </div>
                <!-- Single Property Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <img src="img/bg-img/1.jpg" alt="">
                        </div>

                        <!-- Property Description -->
                        <div  class="property-desc-area">
                            <!-- Property Title & Seller -->
                            <div  align="right" class="property-title-seller d-flex justify-content-between">
                                <!-- Title -->
                                
                                <!-- Seller -->
                                <div class="property-seller">
                                    <p>:المالك</p>
                                    <h6>م\محمد يوسف</h6>
                                </div>
                                <div class="property-title">
                                    <h4>للبيع شقه في ابراج النصر </h4>
                                    <p> اسيوط ,شارع الابراهيميه <i class="fa fa-map-marker" aria-hidden="true"></i></p>
                                </div>
                            </div>
                            <!-- Property Info -->
                            <div class="property-info-area d-flex flex-wrap">
                                 <p>التشطيب :<span>سوبر لوكس</span></p>
                                <p>المساحه :<span>110 متر</span></p>
                                <p>ع مشاهدات :<span>110 </span></p>
                               <p>ت الاعلان :<span>2\2\2019 </span></p>
                            </div>
                        </div>

                        <!-- Property Price -->
                        <div class="property-price">
                          
                            <p class="price">1.999 شهريا</p>
                              <p class="badge-rent">للايجار</p>
                        </div>
                    </div>
                </div>
                <!-- Single Property Area -->
              <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <img src="img/bg-img/1.jpg" alt="">
                        </div>

                        <!-- Property Description -->
                        <div  class="property-desc-area">
                            <!-- Property Title & Seller -->
                            <div  align="right" class="property-title-seller d-flex justify-content-between">
                                <!-- Title -->
                                
                                <!-- Seller -->
                                <div class="property-seller">
                                    <p>:المالك</p>
                                    <h6>م\محمد يوسف</h6>
                                </div>
                                <div class="property-title">
                                    <h4>للبيع شقه في ابراج النصر </h4>
                                    <p> اسيوط ,شارع الابراهيميه <i class="fa fa-map-marker" aria-hidden="true"></i></p>
                                </div>
                            </div>
                            <!-- Property Info -->
                            <div class="property-info-area d-flex flex-wrap">
                                 <p>التشطيب :<span>سوبر لوكس</span></p>
                                <p>المساحه :<span>110 متر</span></p>
                                <p>ع مشاهدات :<span>110 </span></p>
                               <p>ت الاعلان :<span>2\2\2019 </span></p>
                            </div>
                        </div>

                        <!-- Property Price -->
                        <div class="property-price">
                          
                            <p class="price">1.999 شهريا</p>
                              <p class="badge-rent">للايجار</p>
                        </div>
                    </div>
                </div>
                <!-- Single Property Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <img src="img/bg-img/1.jpg" alt="">
                        </div>

                        <!-- Property Description -->
                        <div  class="property-desc-area">
                            <!-- Property Title & Seller -->
                            <div  align="right" class="property-title-seller d-flex justify-content-between">
                                <!-- Title -->
                                
                                <!-- Seller -->
                                <div class="property-seller">
                                    <p>:المالك</p>
                                    <h6>م\محمد يوسف</h6>
                                </div>
                                <div class="property-title">
                                    <h4>للبيع شقه في ابراج النصر </h4>
                                    <p> اسيوط ,شارع الابراهيميه <i class="fa fa-map-marker" aria-hidden="true"></i></p>
                                </div>
                            </div>
                            <!-- Property Info -->
                            <div class="property-info-area d-flex flex-wrap">
                                 <p>التشطيب :<span>سوبر لوكس</span></p>
                                <p>المساحه :<span>110 متر</span></p>
                                <p>ع مشاهدات :<span>110 </span></p>
                               <p>ت الاعلان :<span>2\2\2019 </span></p>
                            </div>
                        </div>

                        <!-- Property Price -->
                        <div class="property-price">
                          
                            <p class="price">1.999 شهريا</p>
                              <p class="badge-rent">للايجار</p>
                        </div>
                    </div>
                </div>
    </section>
    <!-- **** Sale Area End **** -->

   <section class="rehomes-choose-us-area section-padding-100-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                        <h2 align="right"><span>ليه</span> اختارتنا ؟</h2>
                        <p align="right" >عندنا خبره اكتر من عشر سنين  في مجال البيع و التسويق وكيفيه التعامل مع العميل بشكل ممتاز</p>
                    </div>
                </div>

                <!-- Single choose us content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                        <!-- Choose us Icon -->
                        <div class="choose-us-icon">
                            <i class="icon_search"></i>
                        </div>
                        <h5 align="right">هتلاقي طلبك اسرع</h5>
                        <p  align="right">هنساعدك تلاقي اللى بتدور عليه بسرعه وانت مرتاح علشان تقعد ف بيتك برضو مرتاح  </p>
                    </div>
                </div>

                <!-- Single choose us content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                        <!-- Choose us Icon -->
                        <div class="choose-us-icon">
                            <i class="fa fa-cc-visa"></i>
                        </div>
                        <h5 align="right">الامان</h5>
                        <p align="right">لما تيجى تتفرج على حاجه هيكون معاك حد متخصص علشان يكون توصيلك سهل لطلبك </p>
                    </div>
                </div>

                <!-- Single choose us content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                        <!-- Choose us Icon -->
                        <div class="choose-us-icon">
                            <i class="icon_creditcard"></i>
                        </div>
                        <h5 align="right">وفر فلوسك </h5>
                        <p align="right">لما تلاقي طلبك عندنا مش هتدفع فلوس وهتوفر وقت ومجهود</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- **** Choose Us Area End **** -->


    <!-- **** Categories By Property Area Start **** -->
    <section class="rehomes-categories-property-area section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                        <h2>Categories By <span>Property</span></h2>
                        <p>We have over 8 years of experience and knowledge on how to sell more.</p>
                    </div>
                </div>

                <!-- Single Categories and Property Content -->
                <div class="col-12 col-md-8">
                    <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <a href="#"><img src="img/bg-img/7.jpg" alt=""></a>
                        </div>
                        <!-- Title -->
                        <a class="categories-title" href="#">25 Properties</a>
                        <!-- Property Name and Price -->
                        <div class="property-name-price-text">
                            <a href="#">Villa In Newyork</a>
                            <p>From $28000</p>
                        </div>
                    </div>
                </div>

                <!-- Single Categories and Property Content -->
                <div class="col-12 col-md-4">
                    <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <a href="#"><img src="img/bg-img/8.jpg" alt=""></a>
                        </div>
                        <!-- Title -->
                        <a class="categories-title" href="#">25 Properties</a>
                        <!-- Property Name and Price -->
                        <div class="property-name-price-text">
                            <a href="#">Home In LA</a>
                            <p>From $10000</p>
                        </div>
                    </div>
                </div>

                <!-- Single Categories and Property Content -->
                <div class="col-12 col-md-4">
                    <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <a href="#"><img src="img/bg-img/9.jpg" alt=""></a>
                        </div>
                        <!-- Title -->
                        <a class="categories-title" href="#">25 Properties</a>
                        <!-- Property Name and Price -->
                        <div class="property-name-price-text">
                            <a href="#">Home In Landport</a>
                            <p>From $16000</p>
                        </div>
                    </div>
                </div>

                <!-- Single Categories and Property Content -->
                <div class="col-12 col-md-8">
                    <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <a href="#"><img src="img/bg-img/10.jpg" alt=""></a>
                        </div>
                        <!-- Title -->
                        <a class="categories-title" href="#">25 Properties</a>
                        <!-- Property Name and Price -->
                        <div class="property-name-price-text">
                            <a href="#">Villa In Sysney</a>
                            <p>From $36000</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- **** Categories By Property Area End **** -->

    <!-- **** Call to Action Area Start **** -->
    
    <!-- **** Call to Action Area End **** -->

    <!-- **** Blog area Start **** -->
    <section class="rehome-blog-area ">
        <div class="container">
            
                    <!-- Section Heading -->
                    <div class="section-heading  col-12 text-center wow fadeInUp row" data-wow-delay="200ms">
                    <h2  style="padding-left: 39%;">our <span>partners</span></h2>
            
        </div>
    </section>
    <!-- **** Blog area End **** -->

    <!-- **** Partner Area Start **** -->
    << include : PartnerArea.html >>
    <!-- **** Partner Area End **** -->

    << include : Footer/Homes_Template_Footer.html >>
    <!-- **** Footer Area End **** -->

    <!-- **** All JS Files ***** -->
    << include : AllJSFiles.html >>

</body>

</html>