<!DOCTYPE>
<html>
<head>
	<title>Help Center</title>
	
    <link rel="stylesheet" type="text/css" href="<< AllPagesCSS >>">
    <link rel="stylesheet" type="text/css" href="<< PagesCSS >>Advertise.CSS">

    <link rel="icon" type="image/JPG" href="<< LOGO >>">

    <script src="<< JQueryScript >>"></script>
    <script src="<< DropBoxScript >>"></script>
</head>

<body>

    << include : Header/Header.html >>

    <section style="text-align: left;">
    	<p>Questions On How To Use WebSite</p>
    	<a href="">How To Post Advertising</a>
    	<a href="">How To Use Predict</a>
    	<a href="">How To Use Search</a>
    	<a href="">How To Make New Acount</a>
    	<a href="">How To Change The Profile Information</a>
    	<a href="">How To Delete Post</a>

        <a href="">About DeAcivating Your Account</a>
        <a href="">About Deleting Your Account</a>
    </section>

    << include : Footer.html >>

</body>
</html>