<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Help Center</title>

    <!-- Favicon -->
    <link rel="icon" href="<< HEAD_LOGO >>">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="<< HEAD_Font_Awasome >>">
    <link rel="stylesheet" href="<< HEAD_Style_SHEET >>">
</head>

<body>
    <!-- Preloader -->
    <!--<div id="preloader">
        <div class="loader"></div>
    </div>-->

    <!-- **** Header Area Start **** -->
    << include : Header/SiteHeaders/Main_Header.html >>
    <!-- **** Header Area End **** -->

    <div style="padding: 5%;">
        <div>
            <p> This Privacy Policy describes the manner in which The Emperors Team 
                operating the "<strong>www.FindHouse.com</strong>" ( <strong>The Site</strong> ) to collect, use, disclose and otherwise process Personal Information.</p>

            <p> <strong>( Personal Information )</strong> means any information relating to 
                an identified individual. This Policy, which is incorporated into and is subject to the FindHouse Terms of Service, describes the information that we gather from you on the Service, how we use and disclose such information, and the steps we take to protect such information.</p>

            <p><strong>1 - Personal Information We Collect:</strong></p>
            <p> We may collect Personal Information about you from various sources described below.
                Where applicable, we indicate whether and why you must provide us with your Personal Information, as well as the consequences of failing to do so. If you do not provide Personal Information when requested, you may not be able to benefit from our
                Advertising Service if that information is necessary to provide you with it or if we
                are legally required to collect it.</p>
            <ul>
                <li>
                    <p><strong>User provided Information.</strong> When you use the Service, 
                        we askyou to provide certain Personal Information about you,
                        including your name, emailaddress, phone number, we may ask you to provide us with Personal Information when you register for an account, use the Service, or make a purchase on the Service.</p>
                    <p> We may also collect any other Personal Information that you choose to
                        provide to us. For example, if you decide to contact us with Email, we 
                        will process the content of your message, the date and time of your message,
                        our response and any other Personal Information you provide in that context.
                    </p>
                    
                </li>
                <li>
                    <p><strong>Automatically Collected Information.</strong> When you use the Service,
                        we may send one or more cookies to your device. We may use both session cookies. A session cookie disappears after you close your browser. A cookie remains after you close your browser and may be used by your browser on subsequent visits to the Service. In this context, we may collect certain information about you, such as the dates and times that you visit, access, or use the Service.</p>
                </li>
            </ul>

            <p><strong>2. How We Use the Personal Information We Collect.</strong></p>
            <p> We use information we collect on the Service in a variety of ways
                in providing the Service and operating our business, including the following:</p>
            <ul>
                <li>
                    We use the Personal Information that we collect on the Service to operate, maintain, enhance and provide all features of the Service, to provide services and information that you request, to respond to comments and questions and otherwise to provide support to users, to contact you for administrative purposes.
                </li>
                <li>
                    <p>We may use cookies and automatically collected Personal Information to:</p>
                    <ul>
                        <li style="mask-type: inherit;">
                            personalize our Service, such as remembering information about you so that you will not have to re-enter it during your visit or the next time you visit the Service.
                        </li>
                        <li>monitor aggregate site usage metrics such as total number of visitors and
                            pages viewed.</li>
                        <li>track your entries, submissions, and status in any promotions or other
                            activities on the Service.</li>
                    </ul>
                </li>
            </ul>
            <p><strong>3. Your Rights and Choices</strong></p>
            <ul>
                <li>
                    <p><strong>Your Acount :</strong> we will save the information about your acount
                        in our database and we will not share it with other party </p>
                </li>
                <li>
                    <p><strong>Your Deleted Post : </strong>we will not delete it and will not share
                        it with other parties but will use it in our pridection function</p>
                </li>
            </ul>
            
            <p><strong>4. Changes and Updates to this Policy</strong></p>
            <p> Please revisit this page periodically to stay aware of any changes to this Policy,
                which we may update from time to time. If we modify this Policy, we will make it available through the Service, and indicate the date of the latest revision. In the event that the modifications materially alter your rights or obligations hereunder, we will make reasonable efforts to notify you of the change. For example, we may send a message to your email address, if we have one on file, or generate a pop-up or similar notification when you access the Service for the first time after such material changes are made. Your continued use of the Service after the revised Policy has become effective indicates that you have read, understood and agreed to the current version of this Policy.</p>

            <p><strong>5. How to Contact Us</strong></p>
            <p> The Emperors Team is the entity responsible for the processing of your Personal
                Information.</p>
            <p> Please contact us with any questions or comments about this Policy, information we
                have collected or otherwise obtained about you, our use and disclosure practices by email at <strong>abdoaslam000@gmail.com</strong>.</p>
        </div>
    </div>


    <!-- **** Partner Area Start **** -->
    << include : PartnerArea.html >>
    <!-- **** Partner Area End **** -->

    <!-- **** Footer Area Start **** -->
    << include : Footer/Homes_Template_Footer.html >>
    <!-- **** Footer Area End **** -->

    <!-- **** All JS Files ***** -->
    << include : AllJSFiles.html >>

</body>

</html>