<!DOCTYPE>
<html>
<head>
	<title>Message</title>
	
	<link rel="stylesheet" type="text/css" href="<< AllPagesCSS >>">

    <link rel="icon" type="image/JPG" href="<< LOGO >>">

    <script src="<< JQueryScript >>"></script>
    <script src="<< DropBoxScript >>"></script>

</head>
<body>

    << include : Header/Header.html >>

	<section style="min-height: 51.9%;">

		<style type="text/css">
			section p{
				padding-top: 80px;
			}
		</style>

		<p style="color: green;">Message Sent Successfully</p>
	
	</section>

	<< include : Footer.html >>

</body>
</html>