<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title><< HEAD_Title >></title>

    <!-- Favicon -->
    <link rel="icon" href="<< HEAD_LOGO >>">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="<< HEAD_Font_Awasome >>">
    <link rel="stylesheet" href="<< HEAD_Style_SHEET >>">

</head>

<body>
    <!-- Preloader -->
    <!--<div id="preloader">
        <div class="loader"></div>
    </div>-->

    <!-- **** Header Area Start **** -->
    << include : Header/SiteHeaders/Main_Header.html >>
    <!-- **** Header Area End **** -->

    <div style="text-align: center;height: 200px;padding-top: 50px;">
        <p style="color:red;font-size: 50px;">Error Occured When Proccessing Data</p>
        <p style="color:red;font-size: 50px;">Go To Main Page</p>
    </div>


    <!-- **** Partner Area Start **** -->
    << include : PartnerArea.html >>
    <!-- **** Partner Area End **** -->

    <!-- **** Footer Area Start **** -->
    << include : Footer/Homes_Template_Footer.html >>
    <!-- **** Footer Area End **** -->

    <!-- **** All JS Files ***** -->
    << include : AllJSFiles.html >>

</body>

</html>