<!DOCTYPE>
<html>
<head>
	<title><< Title >></title>

	<link rel="stylesheet" type="text/css" href="<< AllPagesCSS >>">
    <link rel="stylesheet"type="text/css"href="<< PagesCSS >>LogOut.CSS">

    <link rel="icon" type="image/JPG" href="<< LOGO >>">

    <script src="<< JQueryScript >>"></script>
    <script src="<< DropBoxScript >>"></script>

</head>

<body>
	
	<< include : Header/Header.html >>

	<section>

		<div class='Title'>
			Log Out
		</div>

		<p>You Must Log Out To Enter This Page</p>
    	<a href="<< LogOut >>">Enter Here To Log Out</a>

	</section>

	<< include : Footer.html >>

</body>
</html>