<footer class="footer-area bg-img bg-overlay-2 section-padding-100-0"
    style="background-image: url(<< Footer_BackGround >>);">
    
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Footer Logo -->
                        <a href="<< Footer_Homes >>" class="footer-logo">
                            <img src="<< Footer_LOGO >>" alt=""></a>

                      
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="<< Footer_Site_FaceBook >>">
                                <i class="fa fa-facebook" aria-hidden="true"></i></a>

                            <a href="<< Footer_Site_Twitter >>">
                                <i class="fa fa-twitter" aria-hidden="true"></i></a>

                            <a href="<< Footer_Site_Instagram >>">
                                <i class="fa fa-instagram" aria-hidden="true"></i></a>

                            <a href="<< Footer_Site_Linkedin >>">
                                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title" align="right">الحصول على معلومات </h5>

                        <!-- Contact Area -->
                        <div class="footer-contact">
                            <p>Phone: <span><< Footer_Contact_Phone >></span></p>
                            <p>Email: <span><< Footer_Contact_Email >></span></p>
                            <p>Address: <span><< Footer_Contact_Address >></span></p>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title" align="right">نشره الاخبار </h5>

                        <p align="right">اشترك في النشرة الإخبارية لدينا  </p>
                        <p align="right"> للحصول على إخطار حول التحديثات الجديدة</p>

                        <!-- Newsletter Form -->
                        <form action="<< Footer_Notification_Form_URL >>" class="nl-form"
                            method="POST">
                            
                            <input type="email" name="FooterEmail"
                                class="form-control" placeholder="Enter your email...">

                            <button type="submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="copywrite-content">
        <div class="container">
            <div class="row align-items-center">

                <!-- Copywrite Text -->
                <div class="col-12 col-sm-6">
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="<< Footer_Copy_Write_Email >>" target="_blank">
                            << Footer_Copy_Write_Name >></a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>

                <!-- Footer Menu -->
                <div class="col-12 col-sm-6">
                    <div class="footer-menu">
                        <ul class="nav">
                            <li><a href="<< Footer_Home >>">Home</a></li>
                            <li><a href="<< Footer_About >>">About us</a></li>
                            
                            <li><a href="<< Footer_Contact >>">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>