<!DOCTYPE>
<html>
<head>
	<title>Forget Password</title>
	
    <link rel="stylesheet" type="text/css" href="<< PagesCSS >>ForgetPassword.CSS">
    <link rel="stylesheet" type="text/css" href="<< AllPagesCSS >>">

    <link rel="icon" type="image/JPG" href="<< LOGO >>">

    <script src="<< JQueryScript >>"></script>
    <script src="<< DropBoxScript >>"></script>

    <script src="<< CheckLenScript >>"></script>
    <script src="<< CheckPatternScript >>"></script>

    <script src="<< PagesScripts >>ForgetPasswordScript.js"></script>
</head>
<body>

    << include : Header/Header.html >>

	<section>

		<div class = 'Title'>
            Forget Password
        </div>

        << Load : Register/ForgetPassword_Result >>
        << Filter : GetSection : Result >>
	</section>

    << include : Footer.html >>

	<script type="text/javascript">
        << Load : Register/ForgetPassword_Result >>
        << Filter : ForgetPassword_Result : Result >>
	</script>

	<script type="text/javascript">
		var Email_Len = << Email_Len >>;
	</script>

</body>
</html>