<!DOCTYPE>
<html lang="en">
<head>
    <title><< HEAD_Title >></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="<< HEAD_Favicon >>"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Bootstrap_Min_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Fonts_Min_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Fonts_Iconic_Min_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Animate_CSS >>">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="<< HEAD_Hamburger_Min_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Animsition_Min_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Select2_Min_CSS >>">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="<< HEAD_Daterangepicker_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Util_CSS >>">
    <link rel="stylesheet" type="text/css" href="<< HEAD_Main_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="<< HEAD_Style_CSS >>">

    <script src="<< JQueryScript >>"></script>
    <script src="<< DropBoxScript >>"></script>

    <script src="<< CheckLenScript >>"></script>
    <script src="<< CheckPatternScript >>"></script>

    <script src="<< PagesScripts >>LoginScript.js"></script>
</head>

<body>

    <!-- Main Header Start -->
    << include : Header/SiteHeaders/Main_Header.html >>
    <!-- **** Header Area End **** -->
    
    <div class="limiter">
        <div class="container-login100" style="background-image: url('<< Form_Image >>');">
            <div class="wrap-login100">

                <form class="login100-form validate-form" method="POST" action="<< Login >>"
                    id='LogForm'>
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        تسجيل الدخول
                    </span>

                    <div style="text-align: center;">
                        << Load : Register/Login_Result >>
                        << Filter : Login_Result : Result >>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        
                        <input class="input100" type="text" name="Email"  value="<< Email >>"
                            id="Email" placeholder="الايميل">
                        <span class="focus-input100"  data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        
                        <input class="input100" type="password" name="Password"
                            id="Password" placeholder="كلمه السر">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox"
                            name="Remember_Me">
                        <label class="label-checkbox100" for="ckb1">
                            تذكرنى
                        </label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            تسجيل الدخول
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="<< SignUP >>">
                            اشناء حساب جديد
                        </a>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="<< ForgetPassword >>">
                            نسيت كلمه السر؟
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    
    <!-- **** Footer Area Start **** -->
    << include : Footer/Homes_Template_Footer.html >>
    <!-- **** Footer Area End **** -->

    <!-- **** All JS Files ***** -->
    << include : JSFiles/Login_Template_JS.html >>

    <script type="text/javascript">

    

    </script>

    <script type="text/javascript">
        var Email_Len = << Email_Len >>;
        var Password_Len = << Password_Len >>;
    </script>

</body>
</html>