<!DOCTYPE>
<html>
<head>
	<title>New Password</title>
	
    <link rel="stylesheet" type="text/css" href="<< PagesCSS >>ReSetPassword.CSS">
    <link rel="stylesheet" type="text/css" href="<< AllPagesCSS >>">

    <link rel="icon" type="image/JPG" href="<< LOGO >>">

    <script src="<< JQueryScript >>"></script>
    <script src="<< DropBoxScript >>"></script>

    <script src="<< CheckLenScript >>"></script>
    <script src="<< CheckPasswordScript >>"></script>
    
    <script src="<< PagesScripts >>ReSetPasswordScript.js"></script>
</head>
<body>

    << include : Header/Header.html >>

	<section>
		
		<div class = 'Title'>
            ReSet Password
        </div>

        << Load : Register/ReSetPassword_Result >>
        << Filter : GetSection : Result >>

	</section>

    << include : Footer.html >>

	<script type="text/javascript">
		var Password_Len = << Password_Len >>;
	</script>

</body>
</html>

<?php exit(); ?>