<!DOCTYPE>
<html lang="en">
<head>
	<title><< HEAD_Title >></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="<< HEAD_Favicon >>"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Bootstrap_Min_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Fonts_Min_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Fonts_Iconic_Min_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Animate_CSS >>">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="<< HEAD_Hamburger_Min_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Animsition_Min_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Select2_Min_CSS >>">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="<< HEAD_Daterangepicker_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<< HEAD_Util_CSS >>">
    <link rel="stylesheet" type="text/css" href="<< HEAD_Main_CSS >>">
<!--===============================================================================================-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="<< HEAD_Style_CSS >>">

    <script src="<< JQueryScript >>"></script>
    <script src="<< DropBoxScript >>"></script>

    <script src="<< CheckLenScript >>"></script>
    <script src="<< CheckPasswordScript >>"></script>
    
    <script src="<< PagesScripts >>ReSetPasswordScript.js"></script>
<!--===============================================================================================-->
</head>
<body>
	<!-- Main Header Start -->
        << include : Header/SiteHeaders/Main_Header.html >>
    <!-- **** Header Area End **** -->
	
	
	
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('<< Form_Image >>');">
			<div class="wrap-login100">

                << Load : Register/ReSetPassword_Result >>
                << Filter : GetSection : Result >>

			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

	 <!-- **** Footer Area Start **** -->
        << include : Footer/Homes_Template_Footer.html >>
    <!-- **** Footer Area End **** -->

    <!-- **** All JS Files ***** -->
        << include : JSFiles/Login_Template_JS.html >>

    <script type="text/javascript">
        var Password_Len = << Password_Len >>;
    </script>

</body>
</html>