<!DOCTYPE >
<html>
<head>
	
	<title>Sign UP</title>

    <link rel="stylesheet" type="text/css" href="<< PagesCSS >>SignUP.CSS">
    <link rel="stylesheet" type="text/css" href="<< AllPagesCSS >>">

	<link rel="icon" type="image/JPG" href="<< LOGO >>">

    <script src="<< JQueryScript >>"></script>
    <script src="<< DropBoxScript >>"></script>

    <script src="<< CheckLenScript >>"></script>
    <script src="<< CheckinputLenScript >>"></script>

    <script src="<< CheckPasswordScript >>"></script>
    <script src="<< CheckPatternScript >>"></script>

    <script src="<< CheckPhoneScript >>"></script>

    <script src="<< TriggerMessageScript >>"></script>
    <script src="<< SetError_FunctionScript >>"></script>

    <script src="<< PagesScripts >>SignUPScript.js"></script>
</head>

<body>

    << include : Header/Header.html >>

	<section>

        <div class="Title">
            Sign UP Form
        </div>

        <p id="Success"></p>

		<form id='SignForm' method="post" enctype="multipart/form-data"
            action="<< SignUP >>">

            << include : MessageBox.html >>

            <div>
    			
                <div>
                    <input oninput="CheckinputLen(this.id, Name_Len);" type="text" id='Name'
                    name="Name" required placeholder="Enter Your Name"
                    value="<< Name >>">
    			</div>

    			<div>
    				<input onchange="CheckEmail()" type="text" id='Email' name="Email"
                    required placeholder="Enter Your Email" value="<< Email >>">
    			</div>

                <div>
                    <input id='Phone' type="text" placeholder="Enter Your Phone"
                        oninput="CheckPhone()" name="Phone" required
                        value="<< Phone >>">
                </div>

                <div>
                    <input id='Password' type="password" placeholder="Enter Your Password"
                        required name="Password" oninput="CheckinputLen(this.id, Password_Len);">

                </div>

                <div>
                    <input id='ConPassword' type="password" placeholder="Re-Enter Password"
                        required oninput="CheckinputLen(this.id, Password_Len);">
                </div>

                <div>
                    <input type="checkbox" id="TemsOfUse" name="TemsOfUse"><span>Terms Of Use</span>
                </div>
            </div>
            
            <div>
                <div>
                    <input type="submit" value="Sign UP" id='FormSubmit'>
                </div>
            </div>
		</form>

	</section>

    << include : Footer.html >>

    <script type="text/javascript">

        << Load : Register/SignUP_Result >>

        << Filter : SignUP_Result : Result >>

    </script>

    <script type="text/javascript">
        var CheckPage = '<< CheckPage >>';

        var Name_Len = << Name_Len >>;
        var Email_Len = << Email_Len >>;
        var Phone_Len = << Phone_Len >>;
        var Password_Len = << Password_Len >>;
    </script>
</body>
</html>