<!DOCTYPE>
<html>
<head>
	<title>Success Sign UP</title>

    <link rel="stylesheet" type="text/css" href="<< PagesCSS >>SuccessSignUP.CSS">
	<link rel="stylesheet" type="text/css" href="<< AllPagesCSS >>">

    <link rel="icon" type="image/JPG" href="<< LOGO >>">

    <script src="<< JQueryScript >>"></script>
    <script src="<< DropBoxScript >>"></script>
</head>
<body>

    << include : Header/Header.html >>

	<section>
		<P class="P1">Please Check Your Email To Complete The Proccess Of SIGN UP</P>
		<p class="P2"><strong>Note : </strong>
            if You Didn't Complete The Process Of Sign UP in One Week Your Data Will be Deleted From Server</p>
	</section>

	<< include : Footer.html >>

</body>
</html>