<header class="header-area">

    <!-- Top Header Area Start -->
    << include : Header/SiteHeaders/TopHeader.html >>
    <!-- Top Header Area End -->

    <!-- Main Header Start -->
    <div class="main-header-area animated">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="rehomesNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="<< Header_LOGO_URL >>">
                        <img src="<< Header_LOGO >>" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classynav">
                            <ul id="nav">
                                << Filter : AdminOrUser >>
                            </ul>

                            <!-- Contact btn -->
                            <div>
                                <img src="<< Header_User_Picture >>" style="width: 50px;height: 50px;">
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>