<!-- jQuery 2.2.4 -->
<script src="<< JS_JQUERY_Min >>"></script>
<!-- Popper -->
<script src="<< JS_Proper_Min >>"></script>
<!-- Bootstrap -->
<script src="<< JS_Bootstrap_Min >>"></script>
<!-- All Plugins -->
<script src="<< JS_Bundle >>"></script>
<!-- Active -->
<script src="<< JS_Assest >>"></script>





<!-- ==================================================================================== -->   	<script src="<< JS_JQUERY_Min_3_2_1 >>"></script>
<!-- ==================================================================================== -->   	<script src="<< JS_Animsition_Min >>"></script>
<!-- ==================================================================================== -->   	<script src="<< JS_Proper >>"></script>
    <script src="<< JS_Bootstrap_Min_Vendor >>"></script>
<!-- ==================================================================================== -->   	<script src="<< JS_Select2 >>"></script>
<!-- ==================================================================================== -->   	<script src="<< JS_Moment >>"></script>
    <script src="<< JS_Daterangepicker >>"></script>
<!-- ==================================================================================== -->   	<script src="<< JS_CountDownTime >>"></script>
<!-- ==================================================================================== -->   	<script src="<< JS_Main >>"></script>