<section class="rehome-blog-area ">
    <div class="container">
        <!-- Section Heading -->
        <div class="section-heading  col-12 text-center wow fadeInUp row" data-wow-delay="200ms">
        <h2  style="padding-left: 39%;">our <span>partners</span></h2>
    </div>
</section>

<div class="partner-area wow fadeInUp" data-wow-delay="200ms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partner-logo-slide owl-carousel">
                    
                    <!-- Single Partner Logo -->
                    <a href="https://www.facebook.com/baitak4eqar/" class="partner-logo wow fadeInUp" data-wow-delay="100ms">
                        <img src="<< Partner_LOGO >>" alt=""></a>

                    <!-- Single Partner Logo -->
                    <a href="https://www.facebook.com/baitak4eqar/" class="partner-logo wow fadeInUp" data-wow-delay="300ms">
                        <img src="<< Partner_LOGO >>" alt=""></a>

                    <!-- Single Partner Logo -->
                    <a href="https://www.facebook.com/baitak4eqar/" class="partner-logo wow fadeInUp" data-wow-delay="500ms">
                        <img src="<< Partner_LOGO >>" alt=""></a>

                    <!-- Single Partner Logo -->
                    <a href="https://www.facebook.com/baitak4eqar/" class="partner-logo wow fadeInUp" data-wow-delay="700ms">
                        <img src="<< Partner_LOGO >>" alt=""></a>

                    <!-- Single Partner Logo -->
                    <a href="https://www.facebook.com/baitak4eqar/" class="partner-logo wow fadeInUp" data-wow-delay="900ms">
                        <img src="<< Partner_LOGO >>" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>